<?xml version="1.0" encoding="UTF-8"?>  
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">  
  <display-name>resteasy</display-name>  
  <session-config>  
    <session-timeout>30</session-timeout>  
  </session-config>  
  <listener>  
    <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>  
  </listener>  
  <servlet>  
    <servlet-name>Resteasy</servlet-name>  
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>Resteasy</servlet-name>  
    <url-pattern>/*</url-pattern>  
  </servlet-mapping>  
  <context-param>  
    <param-name>resteasy.scan</param-name>  
    <param-value>true</param-value>  
  </context-param>  
      
    <security-constraint>  
        <display-name>require valid user</display-name>  
        <web-resource-collection>  
            <web-resource-name>Kerberos Application</web-resource-name>  
            <url-pattern>/*</url-pattern>  
        </web-resource-collection>  
        <auth-constraint>  
            <role-name>krb5</role-name>  
        </auth-constraint>  
    </security-constraint>  

    <login-config>
       <auth-method>MW.LAB.ENG.BOS.REDHAT.COM</auth-method>
       <realm-name>MW.LAB.ENG.BOS.REDHAT.COM</realm-name>
    </login-config>    

     <security-role>  
        <description>security role</description>  
        <role-name>krb5</role-name>  
    </security-role>  
    
</web-app> 
